#img{
      width: 64px;
      height: 74px;
}
fieldset{
      border-radius: 50px;
      background-color: antiquewhite;
}
body{
      background-image: url("download\ \(3\).jpg"
      );
      background-repeat: no-repeat;
      background-size: 710px 1400px;
}
pre{
      font-size: ;
}
Button {
      display: block;
      height: 40px;
      width: 150px;
      background-color: #f6ff00;
      border: 1px solid #000000;
      border-radius: 40px;
      font-size: 18px;}
